.git
.gitignore
node_modules
vendor
storage/app/*
!storage/app/.gitignore
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/logs/.gitignore
bootstrap/cache/*
!bootstrap/cache/.gitignore
.env
.env.*
!.env.example
tests
docs
.phpunit.result.cache
npm-debug.log
Dockerfile
docker-compose.yml
